.menu-bar {
    margin: auto;
}
.menu-bar input {
    width: 500px;
    padding-bottom: 5px;
}


.user-session {
    position: absolute;
    margin-top: 2%;
    margin-left: 90%;
}

#body {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10% 25% 10% 25%;
}

#user-register-form {
    text-align: center;
}
#user-login-form {
    text-align: center;
}
@media only screen and (max-width: 959px) {
    .menu-bar input{
        width: 100px;
    }

    .logo {
        width: 100px;
    }
}